matplotlib
numpy
pandas
scipy
torch==0.4.1
torchvision
cookiecutter
opencv-python
ipython
tqdm
scikit-learn
jupyter
scikit-image
tensorboard
tensorflow
protobuf
git+https://github.com/hmmlearn/hmmlearn.git
pytesseract
ipdb
allennlp
augmentor
albumentations
lime
shap
umap
-e .
