-e .

matplotlib
numpy
pandas
scipy
torch>=0.4.1
torchvision
opencv-python
ipython
tqdm
scikit-learn
jupyter
scikit-image
tensorboard
tensorflow
protobuf
git+https://github.com/hmmlearn/hmmlearn.git
pytesseract
ipdb
allennlp
lime
shap
umap
mlflow
allencv>=0.1.3
